.imgBox1{
    width: 30rem;
    height: 20rem;
    display: inline-block;
    background-image: url("/sample/public/wasa-crispbread-_Xi69l_leAo-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


.imgBox2{
    width: 30rem;
    height: 20rem;
    display: inline-block;
     background-image: url("/sample/public/wasa-crispbread-FjbVkE1L2OU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;

}